---
meta:
    description:
        A complete, fully operational, AWS Batch computing system

    parameters:
        timeout:
            description: A job timeout in seconds
            value:

        has_s3_trigger:
            description: Should a S3 bucket be created as well?
            value: no

        s3_bucket_name:
            description: The name of the input bucket
            value:

        s3_trigger_prefix:
            description: The S3 prefix to listen on
            value:

        s3_trigger_suffix:
            description: The S3 suffix to listen on
            value:

        job_queue:
            description: The name or ARN where the job should be submitted
            value:

        schedule_expression:
            description: The schedule expression for the Lambda trigger
            value:

        container_command:
            description: The command to run in the container
            value:

        submit_recurrence:
            description: A cron expression with a submission schedule
            value:

        docker_image:
            description: The Docker image
            value:

        ecr_repository_name:
            description: The name of the ECR repository that will be created to store the job container image. Not applicable if the docker_image parameter is used.
            value:
                {{__context.environment.name}}-{{__context.layer.name}}-{{__context.stage.lower()}}

        vcpus:
            description: The number of vCPUs reserved for the container
            value: 2

        memory:
            description:
                The hard limit of memory to present to the container, in MiB
            value: 2000

        privileged:
            description:
                When this parameter is true, the container is given elevated
                privileges on the host container 
            value: yes

        iam_role_policies:
            description:
                A list of policies to associate to the role of the container
            value: []

        environment:
            description:
                A dictionary of environment variables to pass to the container
            value: {}

        attempts:
            description: Maximum number of attempts to run the job
            value: 1

        timeout:
            description: The job timeout
            value:
